<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SnapShot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" /> -->
   
      
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

 
    
</head>
<body onload ="compare_value();fundname_search()">



<div class="container-fluid">



<div class="col-xs-12 header">
<div class="container">
<div class="row">
<div id="main-header-wrapper" class="main_header">
    <div class="col-xs-12 fixed-header index1_latest_header1">

        <div class="col-xs-12 col-sm-3 rupeevest-logo">
            <%=image_tag "logo-img.png"%>
        </div>

        <div class="col-xs-12 col-sm-6 search-button rupeevest-search-button">
                <div class="input-group latest-search-button">
                    <input type="text" id ="fund_names" class="form-control " placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default " type="button" onclick="setvalue_schemename()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                </div><!-- /input-group -->

        </div>

            <div class="col-xs-12 col-sm-3 header-buttons index1-latest-login-signup">
                <ul>
                    <li><a href=""><button class="button button5">Login</button></a></li>
                    <li><a href=""><button class="button button5">Signup</button></a></li>
                </ul>
            </div>
        

    </div>
</div>
    </div>
</div>
</div>

<!-- <div class="row comparison-search-header comparison_main_header">
    <div class="col-xs-12 comparison-first-header">
            <div id="header">
                <div class="col-xs-12 col-md-4 comparison-logo">
                       <%=image_tag "logo-img.png"%>
                </div>
                <div class="col-xs-12 col-md-4">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <input class="form-control comparison-control" placeholder="Search" name="srch-term"  id ="fund_names"
                                   type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-warning" type="submit" onclick="setvalue_schemename()"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                 <div class="col-xs-12 col-sm-6 search-button rupeevest-search-button">
                <div class="input-group latest-search-button">
                    <input type="text" id ="fund_names" class="form-control " placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default " type="button" onclick="setvalue_schemename()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                </div><!-- /input-group -->

        </div>
                <!-- <div class="col-xs-12 col-md-4 star-one ">
                    <button type="button" class="btn btn-default">Login</button>
                    <button type="button" class="btn btn-default">Sign Up</button>
                </div> -->
           <!--  </div>
            </div>
        </div>  -->
        <div class="container">
    <!--      header starts here -->
     <!--    <div class="col-xs-12 comparison-header">
            <div class="col-xs-12 col-sm-8 comparison-left-header">
                  <span class="glyphicon comparison-glyphicon glyphicon-search"></span>
                 <input class="comparison-maain-header" type="text" placeholder="">

            </div>

            <div class="col-xs-12 col-sm-2">
                <button class="login header-buttons sign-up">Login</button>
            </div>

            <div class="col-xs-12 col-sm-2">
                <button class="login header-buttons sign-up">Signup</button>
            </div>

        </div> -->
   <!--       <div class="row comparison-search-header">
            <div id="header">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <input class="form-control comparison-control" placeholder="Search" name="srch-term" id="srch-term"
                                   type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-warning" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 star-one left-header pull-right">
                    <button type="button" class="btn btn-default">Login</button>
                    <button type="button" class="btn btn-default">Sign Up</button>
                </div>
            </div>
        </div> -->

    <!--      header ends here -->

    <div class="col-xs-12 comparison-sec-header">
        <div class="col-xs-12 col-sm-6 comparison-left-input">
            <span class="glyphicon comparison-glyphicon glyphicon-search"></span>
            <input class="form-control comparison-control" placeholder="Add fund for comparison" name="srch-term" id="srch-term" type="text">

        </div>

        <div class="col-xs-12 col-sm-6 comparison-right-input">
            <button class="add-button ">add</button>
     
        </div>
    </div>

     <!--  start  common section for all three jpgs -->
     <div class="row">
        <div class="comparison-section comparison-common-section">
            <div class="comparison-parameter">
                <div class=" comparison-inner-text comparison-select-text">
                    <p>Comparison of<br>selected funds<br>based on various<br>parameters</p>
                </div>
            </div>

            <div class=" hdfc-text content main-section  firstSection" id="comp-main" data-close="firstSection">
                <%= image_tag "cancel.png",:class=>'close-image' %>
                <div class="hdfc-top-text">
                    <p id ="s_name0"></p>
                </div>
                <div class="hdfc-bottom-text">
            
                <p id="fund_manager0" class="margin0"></p> 
                 <p class="margin0"> <span id="classification0"></span> | <span id="index_name0"></span></p>
                 <p id="aumtotal0" class="margin0"></p>
                </div>

                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>

             <div class="hdfc-text content  main-section secondSection" data-close="secondSection">
                 <%= image_tag "cancel.png",:class=>'close-image' %>
                <div class=" bnp-top-text">
                    <p id ="s_name1"></p>
                </div>
                <div class="hdfc-bottom-text">
                <p id="fund_manager1" class="margin0"></p> 
                 <p class="margin1"> <span id="classification1"></span> | <span id="index_name1"></span></p>
                 <p id="aumtotal1" class="margin0"></p>
                    
                </div>

                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>

            <div class="hdfc-text content main-section thirdSection" data-close="thirdSection">
               <%= image_tag "cancel.png",:class=>'close-image' %>
                <div class=" hdfc-top-text">
                    <p id ="s_name2"></p>
                </div>
                <div class=" hdfc-bottom-text">
                    <p id="fund_manager2" class="margin0"></p> 
                 <p class="margin0"> <span id="classification2"></span> | <span id="index_name2"></span></p>
                 <p id="aumtotal2" class="margin0"></p>
                </div>

                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>

            <div class="hdfc-text content main-section forthSection" data-close="forthSection">
                <%= image_tag "cancel.png",:class=>'close-image' %>
                <div class="  bnp-top-text">
                   <p id ="s_name3"></p>
                </div>
                <div class=" hdfc-bottom-text">
                    <p id="fund_manager3" class="margin0"></p> 
                 <p class="margin0"> <span id="classification3"></span> | <span id="index_name3"></span></p>
                 <p id="aumtotal3" class="margin0"></p>
                </div>

                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
        </div>

</div>
     <!--  end  common section for all three jpgs  -->


    <!--  top section starts here -->
    <div class="row comparison-first-section">

        <div class="expense-section">
            <div class=" expense-inner-section">
                <p class="important-text">Expense (%)</p>
            </div>

            <div class=" expense-inner-section">
                <p>Turnover Ratio</p>
            </div>

            <div class=" expense-inner-section">
                <p class="important-text">Exit Load (%)</p>
            </div>

            <div class=" expense-inner-section">
                <p>Lock in Period</p>
            </div>

            <div class=" expense-inner-section">
                <p class="important-text">Inception</p>
            </div>

            <div class=" expense-inner-section">
                <p>Return since Inception</p>
            </div>

            <div class=" expense-inner-section">
                <p class="important-text">Minimum Investment</p>
            </div>

            <div class=" expense-inner-section">
                <p>Redemption Period</p>
            </div>
  </div>

        <div class="expense-inner-section1 comp-main main-section firstSection" data-close="firstSection">
            <div class=" expensive-left-section values" id="comparison-id">
            <p> <span id="expenceratio0"></span> </p>
            </div>

            <div class=" expensive-left-section" id="comparison-id">
            <p><span id="turnover_ratio0"></span> </p>
            </div>

            <div class=" expensive-left-section" id="comparison-id">
             <p> <span id="exitload0"></span></p>
            </div>
            
            <div class="expensive-left-section" id="comparison-id">
            <p><span id="lockperiod0"></span></p>
            </div>

            <div class=" expensive-left-section" id="comparison-id">
            <p><span id="inception_date0"></span> </p>
            </div>
            
            <div class=" expensive-left-section" id="comparison-id">
            <p> <span id="inception_return0"></span></p>
            </div>

            <div class=" expensive-left-section" id="comparison-id">
            <p> <span id="minimum_investment0"></span></p>
            </div>
            
            <div class=" expensive-left-section" id="comparison-id">
            <p> <span id="redemption_period0"></span></p>

            </div>
        </div>


         <div class="expense-inner-section1 main-section secondSection" data-close="secondSection">
            <div class=" expensive-left-section">
           <p> <span id="expenceratio1"></span> </p>
            </div>

            <div class=" expensive-left-section">
             <p><span id="turnover_ratio1"></span> </p>
            </div>

            <div class=" expensive-left-section">
              <p> <span id="exitload1"></span></p>
            </div>
            
            <div class="expensive-left-section">
             <p><span id="lockperiod1"></span></p>
            </div>

            <div class=" expensive-left-section">
             <p><span id="inception_date1"></span> </p>
            </div>
            
            <div class=" expensive-left-section">
            <p> <span id="inception_return1"></span></p>
            </div>

            <div class=" expensive-left-section">
            <p> <span id="minimum_investment1"></span></p>
            </div>
            
            <div class=" expensive-left-section">
            <p> <span id="redemption_period1"></span></p>


            </div>
        </div>

        <div class="expense-inner-section1 main-section thirdSection" data-close="thirdSection">
            <div class=" expensive-left-section">
            <p> <span id="expenceratio2"></span> </p>
            </div>

            <div class=" expensive-left-section">
             <p><span id="turnover_ratio2"></span> </p>
            </div>

            <div class=" expensive-left-section">
             <p> <span id="exitload2"></span></p>
            </div>
            
            <div class=" expensive-left-section">
             <p><span id="lockperiod2"></span></p>
            </div>

            <div class=" expensive-left-section">
             <p><span id="inception_date2"></span> </p>
            </div>
            
            <div class=" expensive-left-section">
            <p> <span id="inception_return2"></span></p>
            
            </div>

            <div class=" expensive-left-section">
           <p> <span id="minimum_investment2"></span></p>
            </div>
            
            <div class=" expensive-left-section">
            <p> <span id="redemption_period2"></span></p>

            </div>
        </div>

        <div class="expense-inner-section1 main-section forthSection first-fourth-section" data-close="forthSection">
            <div class=" expensive-left-section">
            <p> <span id="expenceratio3"></span> </p>
            </div>

            <div class=" expensive-left-section">
             <p><span id="turnover_ratio3"></span> </p>
            </div>


            <div class=" expensive-left-section">
             <p> <span id="exitload3"></span></p>
            </div>
            
            <div class=" expensive-left-section">
             <p><span id="lockperiod3"></span></p>
            </div>

            <div class=" expensive-left-section">
             <p><span id="inception_date3"></span> </p>
            </div>
            
            <div class=" expensive-left-section">
            <p> <span id="inception_return3"></span></p>
            </div>

            <div class=" expensive-left-section">
            <p> <span id="minimum_investment3"></span></p>
            </div>
            
            <div class=" expensive-left-section">
           <p> <span id="redemption_period3"></span></p>

        
            </div>
        </div>
    </div>

     <div class="row">
                <div class="main-parameters">
                    <ul class="parameters">
                    <!--     <li><button type="button" class="parameter-button">RUPEEVEST RATING ON KEY PARAMETERS</button></li> -->
                     <li> <a href="#"><button>RUPEEVEST RATING ON KEY PARAMETERS</button></a></li>
                    
                    </ul>

                </div>
        </div>


        <div class="row comparison-section">
            <div class="expense-sec-main-section">
                <div class=" expensive-sec-section">
                    <p>Total Return</p>
                </div>

                <div class=" expensive-sec-section">
                    <p class="important-text">Consistency of Return</p>
                </div>

                <div class=" expensive-sec-section">
                    <p>Risk</p>
                </div>

                <div class=" expensive-sec-section">
                    <p class="important-text">Portfolio Attributes</p>
                </div>

                <div class=" expensive-sec-section">
                    <p>Cost Factors</p>
                </div>

                      <div class=" expensive-sec-section">
                    <p>Cost Factors</p>
                </div>
            </div>

            <div class="expense-inner-section1 comp-main hideSection firstSection" data-close="firstSection">
                <div class=" expensive-sec-left-section second-section">
                 <p id = "total_return0"> </p> 
                
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                 <p id = "consistency_of_return0"> </p>
               

                </div>

                <div class=" expensive-sec-left-section second-section">
                 <p id = "risk0"> </p> 
           
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "portfolio_attributes0"> </p> 
              
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id = "cost_factor0"> </p> 
              
                </div>

                    <div class=" expensive-sec-left-section second-sec-section">
                <p id = "portfolio_attributes"> 1</p> 
             
                </div>


            </div>

            <div class="expense-inner-section1 hideSection secondSection" data-close="secondSection">
                <div class=" expensive-sec-left-section second-section">
                <p id = "total_return1"> </p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "consistency_of_return1"> </p>
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id = "risk1"> </p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "portfolio_attributes1"> </p>
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id = "cost_factor1"> 1</p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "total_return"> 1</p>
                </div>

            </div>

            <div class="expense-inner-section1 main-section thirdSection" data-close="thirdSection">
                <div class=" expensive-sec-left-section second-section">
                <p id = "total_return2"> </p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "consistency_of_return2"> </p>
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id = "risk2"> </p>
                </div>
 
                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "portfolio_attributes2"> </p>
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id = "cost_factor2"> 1</p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id = "total_return"> 1</p>
                </div>

            </div>

            <div class="expense-inner-section1 main-section forthSection" data-close="forthSection">
                <div class=" expensive-sec-left-section second-section">
                <p id = "total_return3"> </p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id="consistency_of_return3"> </p>
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id="risk3"></p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p id="portfolio_attributes3"></p>
                </div>

                <div class=" expensive-sec-left-section second-section">
                <p id="cost_factor3"></p>
                </div>

                <div class=" expensive-sec-left-section second-sec-section">
                <p>1</p>
                </div>

            </div>
       <!--  </div> -->
</div>

        <!-- middle section starts here -->
            <div class="row">
                <div class="main-parameters">
                    <ul class="parameters">
                  
   <li> <a href="#"><button>RISK AND RETURN PARAMETERS</button></a></li>

                        <li>6m</li>
                        <li>1y</li>
                        <li>2y</li>
                        <li>3y</li>
                        <li>5y</li>
                        <li>10y</li>
                    </ul>

                </div>
            </div>

                <div class="row comparison-section">
                    <div class="expense-sec-main-section">
                        <div class=" parameter-active">
                            <p class="important-text">Return</p>
                        </div>

                        <div class=" parameter-active">
                            <p>Alpha</p>
                        </div>

                         <div class=" parameter-active">
                            <p class="important-text">Std Dev</p>
                        </div>

                        <div class=" parameter-active">
                            <p>Sharpe</p>
                        </div>
                         <div class=" parameter-active">
                            <p class="important-text">Sortino</p>
                        </div>

                        <div class=" parameter-active">
                            <p>Beta</p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 comp-main hideSection firstSection" data-close="firstSection">
                        <div class=" para-sec-section fourth-section">
                        <p id = "jalpha_x"> 1</p>
                        </div>

                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "alphax_returns0"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                         <p id = "sdx_returns0"> </p>
                        </div>
                        
                        <div class=" para-sec-section one-more-section fourth-sec-section">
                        <p id = "sharpex_returns0"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                        <p id = "sotinox_returns0"> </p>
                        </div>
                        
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "betax_returns0"> </p>
                        </div>
                    </div>

                  
                    <div class="expense-inner-section1 hideSection secondSection" data-close="secondSection">
                        <div class=" para-sec-section fourth-section">
                        <p id = "jalpha_x1">2 </p>
                        </div>

                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "alphax_returns1"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                        <p id = "sdx_returns1"></p>
                        </div>
                        
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "sharpex_returns1"> </p>
                        </div>


                        <div class=" para-sec-section fourth-section">
                        <p id = "sotinox_returns1"> </p>
                        </div>

                        
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "betax_returns1"> </p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 main-section thirdSection" data-close="thirdSection">
                        <div class=" para-sec-section fourth-section">
                        <p id = "jalpha_x2">2 </p>
                        </div>

                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "alphax_returns2"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                        <p id = "sdx_returns2"> </p>
                        </div>
                        
                       
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "sharpex_returns2"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                        <p id = "sotinox_returns2"> </p>
                        </div>
                        
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "betax_returns2"> </p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 main-section forthSection" data-close="forthSection">
                        <div class=" para-sec-section fourth-section">
                        <p id = "jalpha_x3"> 2</p>
                        </div>


                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "alphax_returns3"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                        <p id = "sdx_returns3"></p>
                        </div>
                        
                        
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "sharpex_returns3"> </p>
                        </div>

                        <div class=" para-sec-section fourth-section">
                        <p id = "sotinox_returns3"> </p>
                        </div>
                        
                        <div class=" para-sec-section fourth-sec-section">
                        <p id = "betax_returns3"> </p>
                        </div>
                    </div>

                   
                </div>

            <div class="row">
                <div class="main-parameters">
                    <ul class="parameters">
                    <!--     <li><button type="button" class="parameter-button">CONCENTRATION AND VALUATION</button></li> -->
                      <li> <a href="#"><button>CONCENTRATION AND VALUATION</button></a></li>
                    
                    </ul>

                </div>
            </div>

             <div class="row comparison-section">
                    <div class="expense-sec-main-section">
                        <div class=" parameter-sec-active">
                            <p>Number of Stocks</p>
                        </div>

                        <div class=" parameter-sec-active">
                            <p class="important-text">Top 10 Stocks(%)</p>
                        </div>

                         <div class=" parameter-sec-active">
                            <p>Top 5 Stocks(%)</p>
                        </div>

                        <div class=" parameter-sec-active">
                            <p class="important-text">Top 3 Sectors(%)</p>
                        </div>
                         <div class=" parameter-sec-active">
                            <p>Portfolio P/B Ratio</p>
                        </div>

                        <div class=" parameter-sec-active">
                            <p class="important-text">Portfolio P/E Ratio</p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 comp-main hideSection firstSection" data-close="firstSection">
                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe">2 </p>
                        </div>

                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "she"> 2</p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "shae">2 </p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "share">2 </p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "shar"> 2</p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharp">2 </p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 hideSection secondSection" data-close="secondSection">
                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe_x">2 </p>
                        </div>

                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharpe_x">2 </p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe_x">2</p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharpe_x">2 </p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe_x"> 2</p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharpe_x"> 2</p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 main-section thirdSection" data-close="thirdSection">
                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe"> 5</p>
                        </div>

                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharp"> 5</p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "shar">5 </p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharp"> 5</p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe_x">5 </p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharx"> 4</p>
                        </div>
                    </div>

                    <div class="expense-inner-section1 main-section forthSection" data-close="forthSection">
                        <div class=" para-sec-left-section third-section">
                        <p id = "sharpe"> 2</p>
                        </div>

                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "shar"> 2</p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "shar">4 </p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharp"> 4</p>
                        </div>

                        <div class=" para-sec-left-section third-section">
                        <p id = "sharp">4 </p>
                        </div>
                        
                        <div class=" para-sec-left-section third-sec-section">
                        <p id = "sharpe">4 </p>






                        </div>
                    </div>

        </div>
                <!-- middle section ends here -->

                 <!--  bottom section starts here -->
            <div class="row">
                <div class="main-parameters">
                    <ul class="parameters">
                       <!--  <li><button type="button" class="parameter-button">PORTFOLIO MARKET CAP</button></li> -->
                          <li> <a href="#"><button>PORTFOLIO MARKET CAP</button></a></li>
                    
                    </ul>

                </div>
            </div>


            <div class="row comparison-section">

                <div class="expense-sec-main-section">
                    <div class=" average-market-section">
                        <p class="important-text">Average Market Cap(RsCr)</p>
                    </div>

                    <div class=" average-market-section">
                        <p>Large(%)</p>
                    </div>

                    <div class=" average-market-section">
                        <p class="important-text">mid(%)</p>
                    </div>

                    <div class=" average-market-section">
                        <p>Small(%)</p>
                    </div>
                </div>

                <div class="expense-inner-section1 comp-main hideSection firstSection" data-close="firstSection">
                    <div class=" average-market-left-section fourth-section">
                    <p>2</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>2</p>
                    </div>

                    <div class=" average-market-left-section fourth-section">
                    <p>2</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>2</p>
                    </div>
                </div>

                <div class="expense-inner-section1 hideSection secondSection" data-close="secondSection">
                    <div class=" average-market-left-section fourth-section">
                    <p>2</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>2</p>
                    </div>

                    <div class=" average-market-left-section fourth-section">
                    <p>2</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>2</p>
                    </div>
                </div>

                <div class="expense-inner-section1 main-section thirdSection" data-close="thirdSection">
                    <div class=" average-market-left-section fourth-section">
                    <p>5</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>5</p>
                    </div>

                    <div class=" average-market-left-section fourth-section">
                    <p>5</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>5</p>
                    </div>
                </div>

                <div class="expense-inner-section1 main-section forthSection" data-close="forthSection">
                    <div class=" average-market-left-section fourth-section">
                    <p>5</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>5</p>
                    </div>

                    <div class=" average-market-left-section fourth-section">
                    <p>5</p>
                    </div>

                    <div class=" average-market-left-section fourth-sec-section">
                    <p>5</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="main-parameters">
                    <ul class="parameters">
                     <!--    <li><button type="button" class="parameter-button">PORTFOLIO MARKET CAP</button></li> -->
                     <li> <a href="#"><button>PORTFOLIO HOLDINGS</button></a></li>
                        <li>Top 10 Holdings</li>
                    
                    </ul>

                </div>
            </div>


            <div class="row comparison-section">
                <div class="expense-sec-main-section">
                    <div class=" average-market-sec-section fifth-section">
                    <!-- <p>2</p> -->
                    </div>

                    <div class=" average-market-sec-section">
                    </div>

                    <div class=" average-market-sec-section fifth-section">
                 <!--    <p>2</p> -->
                    </div>

                    <div class=" average-market-sec-section">
                    </div>
                </div>

                <div class="expense-inner-section1 comp-main hideSection firstSection" data-close="firstSection">
                    <div class=" average-market-sec-left-section">
                        <p>Infosys 11%</p>
                    </div>

                    <div class=" average-market-sec-left-section">
                        <p>Data Steel 8%</p>
                    </div>

                    <div class=" average-market-sec-left-section1 fifth-sec-section">
                    <p>8</p>
                      
                    </div>

                    <div class=" average-market-sec-left-section2 fifth-last-section">
                    <p>8</p>
                     
                    </div>
                </div>

                  <div class="expense-inner-section1 hideSection secondSection" data-close="secondSection">
                    <div class=" average-market-sec-left-section">
                        <p>Wipro 13%</p>
                    </div>

                    <div class=" average-market-sec-left-section">
                        <p>Titan 8%</p>
                    </div>

                    <div class=" average-market-sec-left-section1 fifth-sec-section">
                    <p>4</p>
                      
                    </div>

                    <div class=" average-market-sec-left-section2 fifth-last-section">
                    <p>4</p>
                     
                    </div>
                </div>

                <div class="expense-inner-section1 main-section thirdSection" data-close="thirdSection">
                    <div class=" average-market-sec-left-section">
                        <p>Infosys 11%</p>
                    </div>

                    <div class=" average-market-sec-left-section">
                        <p>Data Steel 8%</p>
                    </div>

                    <div class=" average-market-sec-left-section1 fifth-sec-section">
                    <p>5</p>
                      
                    </div>

                    <div class=" average-market-sec-left-section2 fifth-last-section">
                    <p>5</p>
                     
                    </div>
                </div>

                <div class="expense-inner-section1 main-section forthSection" data-close="forthSection">
                    <div class=" average-market-sec-left-section">
                        <p>Wipro 13%</p>
                    </div>

                    <div class=" average-market-sec-left-section">
                        <p>Titan 8%</p>
                    </div>

                    <div class=" average-market-sec-left-section1 fifth-sec-section">
                    <p>5</p>
                      
                    </div>

                    <div class=" average-market-sec-left-section2 fifth-last-section">
                    <p>5</p>
                     
                    </div>
                </div>
            </div>

                <!--  bottom section ends here -->




        </div>
</div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %> 

<%= javascript_include_tag "ui/1.11.4/jquery-ui.js" %>
<%= javascript_include_tag "ui/jquery-2.2.3.js" %>


<%= javascript_include_tag "ui/jquery-ui.js" %>

<%= javascript_include_tag "js/landing.js" %>
<%= javascript_include_tag "js/comparision.js" %>


<!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
<script type="text/javascript">
// $(".close-image").click(function() {
//     $(this).parent().hide();
// });

// $("#toggle-content").click(function() {
//     $(".content").slideToggle();
// })
var dataAttr;
$('.close-image').click(function (){
dataAttr=$(this).parent('.main-section').data('close');
console.log(dataAttr);
console.log($('.'+dataAttr).data('close')===dataAttr);

    if($('.'+dataAttr).data('close')===dataAttr){
        // //alert();
         $('.'+dataAttr).hide();

    }
});
</script>



</body>
</html>