<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fund preview 5</title>


     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/custom.css">
  
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="stylesheets/css/font-awesome.css">

</head>
<body>
<div class="col-xs-12 header">
<div id="main-header-wrapper" class="main_header">
    <div class="col-xs-12 fixed-header">

        <div class="col-xs-12 col-sm-3 rupeevest-logo">
            <img src="images/logo-img.png">
        </div>

        <div class="col-xs-12 col-sm-6 search-button rupeevest-search-button">
                <div class="input-group latest-search-button">
                    <input type="text" id ="fund_names" class="form-control " placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default " type="button" onclick="setvalue_schemename()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                </div><!-- /input-group -->

        </div>

            <div class="col-xs-12 col-sm-3 header-buttons login-signup-buttons">
                <ul>
                    <li><a href=""><button class="button button5">Login</button></a></li>
                    <li><a href=""><button class="button button5">Signup</button></a></li>
                </ul>
            </div>
        

    </div>
</div>
</div>
<section id="main">
    <div class="container">
        <div class="row top-margin">
            <div class="row">
                <div class="col-md-6">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <input class="form-control sector-control" placeholder="Search sector allocation by MFs" name="srch-term"
                                   id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-warning sector-warning" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row">
                <h2 class="left-margin">TECHNOLOGY</h2>
            </div>
            <div class="row paragraph">
                <h4 class="pull-left">Funds Invested in the Sector</h4>
                <button type="button" class="btn btn-default sector-default pull-right">Download</button>
            </div>

        </div>
        <div id="table">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Fund</th>
                    <th>Dec-15</th>
                    <th>Sep-15</th>
                    <th>Jun-15</th>
                    <th>Mar-15</th>
                    <th>Dec-14</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>HDFC Mutual Fund</td>
                    <td>1.625</td>
                    <td>1.640</td>
                    <td>1.541</td>
                    <td>1.512</td>
                    <td>1.639</td>
                </tr>
                <tr>
                    <td>ICICI Prudential Mutual Fund</td>
                    <td>0.830</td>
                    <td>0.785</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="active">
                    <td>UTI Mutual Fund</td>
                    <td>0.711</td>
                    <td>0.701</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <table class="table table-responsive">
            <tbody>
            <tr class="active">
                <td></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr class="active">
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr class="active">
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr class="active">
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>




</body>
</html>