<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
<script type = "text/javascript" src = "app/assets/javascripts/functionalities.js"></script>
<input type="button" id="mcap_btn" value = "Mcap" onclick = "mcap_classification()" />
<table id="lmcap"></table>
<table id="mcap_avg" border = "1"></table>