<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
<script type = "text/javascript" src = "app/assets/javascripts/functionalities.js"></script>
<input type="button" id="Amc_mst_btn" value = "Amc Master" />
<input type="button" id="Current_nav_btn" value = "Current Nav" />
<input type="button" id="fund_manager_btn" value = "Fund Manager" />
<input type="button" id="aum_total_btn" value = "Aum Total" />
<div id="amc_info" ></div>
<div id="current_nav" ></div>
<div id="fund_manager" ></div>
<div id="aum_total" ></div>
